<div>
    <h1 style="color:red; text-align:center">Restaurar contraseña</h1>
    <br>
    <h2>Este correo te permitira restaurar tu contraseña.</h2>
    <p>La nueva contraseña no debe ser igual a la contraseña anterior.</p>
    <br>
    <a href="http://localhost:8080/restorePassword?token={{restoreToken}}">
<button>Restablecer contraseña</button>
    </a>
</div>