<div>
    <h1>Ahora logueate</h1>
    <form id="loginForm">
        <label>Email</label>
        <input name="email">
        <br>
        <label>Contrase単a</label>
        <input name="password" type="password">
        <br>
        <input type="submit">
    </form>
</div>
<br>
<p>多No tienes cuenta? <a href="/register">Registrate.</a></p>
<p>多Olvidaste tu contrase単a? <a href="/restoreRequest">Recuperala.</a></p>
<br>
<div>
    <a href="/api/sessions/github">
        <button>Ingresar con GitHub</button>
    </a>
</div>

<script src="js/login.js"></script>