<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce Coderhouse</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">

            <h2 class="active"> Logueate. </h2>
            <form id="loginForm">
                <input type="text" id="login" class="fadeIn second" name="email" placeholder="Email">
                <input type="password" id="password" class="fadeIn third" name="password" placeholder="Contraseña">
                <input type="submit" class="fadeIn fourth" value="iniciar sesion">
            </form>
            <div id="formFooter">
                <p>¿No tienes cuenta? <a class="underlineHover" href="/register">Regístrate.</a></p>
                <p>¿Olvidaste tu contraseña? <a class="underlineHover" href="/restoreRequest">Recupérala.</a></p>
                <p>Ingresar con GitHub. <a class="underlineHover" href="/api/sessions/github">Ingresar.</a></p>
            </div>
        </div>
    </div>
    <script src="js/login.js"></script>
</body>

</html>