<div>
    <h1>Ahora logueate</h1>
    <form id="loginForm">
        <label>Email</label>
        <input name="email">
        <br>
        <label>Contraseña</label>
        <input name="password" type="password">
        <br>
        <input type="submit">
    </form>
</div>
<br>
<div>
    <a href="/register">
        <button>Ir a registrarme</button>
    </a>
</div>
<br>
<div>
    <a href="/api/sessions/github">
        <button>Ingresar con GitHub</button>
    </a>
</div>

<script src="js/login.js"></script>