<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce Coderhouse</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <h2 class="active"> Registrate. </h2>
            <form id="registerForm">
                <input type="text" class="fadeIn second" name="first_name" placeholder="Nombre" required>
                <input type="text" class="fadeIn second" name="last_name" placeholder="Apellido" required>
                <input type="text" class="fadeIn second" name="age" placeholder="Edad" required>
                <input type="text" class="fadeIn second" name="email" placeholder="Email" required>
                <input type="password" id="password" class="fadeIn third" name="password" placeholder="Contraseña"
                    required>
                <input type="submit" class="fadeIn fourth" value="Registrarme">
            </form>
        </div>
    </div>
    <script src="js/register.js"></script>
</body>

</html>