<h1>Recuperación de contrasena</h1>

<p>Escribe el mail con el que se recuperara la contraseña</p>

<form id="restoreRequestForm">
    <input name="email">
    <input type="submit" id="submitter">
</form>

<p id="message"></p>

<script src="/js/restoreRequest.js"></script>