<h1>Recuperación de contrañena</h1>

<p>Escribe con el que se recuperara la contraseña</p>

<form id="restoreForm">
    <imput name="email">
    <imput type="submit" id="submitter">
</form>

<p id="message"></p>

<script src="../public/js/restoreRequest.js"></script>