<h1>Ingrese a la aplicacion como un usuario premium!</h1>

<p>Envie los siguientes archivos para una verificación de usuario.</p>

<div>
    <form id="uploadForm">
        <label>¿Que documento desea cargar?</label>
        <select id="document" name="document">
            <option value="DNI">Identificacion</option>
            <option value="Comprobante de domicilio">Domicilio</option>
            <option value="Comprobante de estado">Estado de la cuenta</option>
        </select>
        <br>
        <br>
        <form action="/action_page.php">
            <label>Suba el archivo aqui!</label>
            <input type="file" id="file" name="filename">
            <input type="submit">
        </form>
    </form>
</div>

<script src="js/upload.js"></script>