<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce Coderhouse</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <form id="uploadForm" enctype="multipart/form-data" action="/api/users/{{userId}}/documents" method="POST">
                <label>¿Que documento desea cargar?</label>
                <br>
                <select type="text" id="documentName" name="documentName" class="fadeIn second">
                    <option class="fadeIn second" value="DNI">Identificacion</option>
                    <option class="fadeIn second" value="Comprobante de domicilio">Domicilio</option>
                    <option class="fadeIn second" value="Comprobante de estado">Estado de la cuenta</option>
                </select>
                <label>Suba el archivo aqui!</label>
                <input type="file" id="files" class="fadeIn second" name="files">
                <input type="hidden" id="filetype" name="filetype" value="document">
                <input type="hidden" id="userId" value="{{userId}}">
                <input type="submit" class="fadeIn second">
            </form>
            <label>¿Ya cargó todos sus documentos? Haga click aqui</label>
            <a class="button"><button id="button_premium">Pasar a premium</button></a>
        </div>
    </div>
<script src="/js/upload.js"></script>
</body>
</html>