<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce Coderhouse</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <h2 class="active"> Complete los datos. </h2>
            <form id="registerForm">
                <input type="text" class="fadeIn second" name="first_name" placeholder="Nombre" required>
                <input type="text" class="fadeIn second" name="last_name" placeholder="Apellido" required>
                <input type="text" class="fadeIn second" name="age" placeholder="Edad" required>
                <input type="text" class="fadeIn second" name="email" placeholder="Email" required>
                <input type="password" id="password" class="fadeIn third" name="password" placeholder="Contraseña"
                    required>
                <br>
                <label>¿Que documento desea cargar?</label>
                <select type="text" id="document" name="document" class="fadeIn second">
                    <option class="fadeIn second" value="DNI">Identificacion</option>
                    <option class="fadeIn second" value="Comprobante de domicilio">Domicilio</option>
                    <option class="fadeIn second" value="Comprobante de estado">Estado de la cuenta</option>
                    <label>Suba el archivo aqui!</label>
                    <input type="file" id="file" class="fadeIn second" name="filename">
                    <input type="submit" class="fadeIn second">
            </form>
        </div>
    </div>
    <script src="js/upload.js"></script>
</body>

</html>